header.primary{
    background-color: #a06d9e;
    color:#ffffff;
    text-align:center;
    text-shadow:2px 2px #000000;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom:40px;
    padding-left:40px;
    }